html{
  background-color: rgb(27, 27, 27);
  text-align: center;
  overflow-x: hidden;
}

.purple{
  color: rgb(128, 67, 240);
}

.orred{
  color:rgb(223, 133, 106);
}

.orange{
  color: rgb(231, 178, 109);
}

.anon-pro-font{
  font-family: Anonymous Pro, monospace;
}
