@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: rgb(26, 26, 26);
  font-family: Unbounded;
  text-align: center;
  overflow-x: hidden;
}

.anon-pro-font{
  font-family: Anonymous Pro, monospace;
}

.projbase {
  @apply w-5/6 sm:w-96 h-96 mx-4 mb-4 p-1 bg-gradient-to-tr from-orange-500 to-red-500 rounded-lg overflow-hidden shadow-lg shadow-black;
  transition: 0.7s cubic-bezier(0.18, 0.89, 0.83, 0.99);
}

.projbase:hover{
  @apply shadow-md shadow-black
}

.inprojbase {
  @apply bg-neutral-900 flex flex-col justify-center al-cen h-full w-full rounded-lg
}

.projname {
  @apply text-purploo mt-2;
}

.projdesc {
  @apply text-zinc-500 anon-pro-font;
  line-height: 1.2rem
}

.projimg {
  @apply h-48 rounded-lg;
  max-width: 100%;
}

/* .projBtnList {
  @apply 
} */

.orgbtn {
  @apply bg-orangoo text-gray-800 p-1 rounded-lg my-1 px-2 mx-0.5;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.orgbtn:hover {
  @apply bg-orangoo px-4 rounded-lg shadow-md shadow-orangoo
}

.link-icon {
  @apply w-6 h-6 mx-5;
  transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link-icon:hover {
  @apply w-8 h-8;
  cursor: pointer;
  filter:hue-rotate(90deg)
}

.al-cen {
  align-items: center;
}

.plusdiv {
  @apply w-4/6 lg:w-3/6 flex flex-wrap rounded-lg shadow-md shadow-black bg-zinc-800 mx-auto mt-6;
}

.plusdivtexts {
  @apply flex flex-wrap text-white
}

.blrpbutton {
  @apply p-2 mt-4 w-fit mx-auto rounded-lg shadow-md shadow-black;
  background-color: rgb(88, 101, 242);
  transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.blrpbutton:hover {
  background-color: rgb(71, 82, 196);
}